{% extends 'base.html' %}
{% load django_vite static %}


{% block modal %}
    <div class="modal-container click-to-hide" id="create-sheet" onclick="hideModalOnBgClick(event, 'create-sheet')">
        <div class="container mx-auto w-full grid grid-col-12 click-to-hide">
            <div class="modal-inner box col-span-sub-4 border border-primary ">
                <h3 class="font-lg">Crear Hoja</h3>
                <hr class="mb-4 w-full border border-secondary">
                <form method="post" action="{% url 'contact-list' %}" class="flex flex-col">
                    {% csrf_token %}
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <p>Título:</p>
                            {{ form.name }}
                        </div>
                        <div class="flex flex-col gap-2">
                            <p>Categoría:</p>
                            {{ form.category }}
                        </div>
                        <div class="flex flex-col gap-2">
                            <p>Fecha:</p>
                            {{ form.date }}
                        </div>
                    </div>
                    
                    <div class="mt-10 flex gap-2 justify-end">
                        <button type="button" class="border flex justify-center px-6 py-2 rounded-1 click-to-hide">
                            Cancelar
                        </button>
                        <button type="submit" class="border flex justify-center px-6 py-2 rounded-1">
                            Crear
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-container click-to-hide py-16" id="budget-viewer" onclick="hideModalOnBgClick(event, 'budget-viewer')">
        <div class="container mx-auto w-full grid grid-col-12 click-to-hide">
            <div id="budget-app" class="modal-inner box col-span-sub-3 border border-primary "></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/utils.js'%}"></script>
    {% vite_asset '../../../vue_frontend/src/apps/sheets/main.js' %}
{% endblock javascript %}
