{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="absolute w-full bg-primary max-w-sm top-1d2 left-1d2 translate-center rounded-2 px-4 py-8 shadow-sm border border-primary">
    <form class="login" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <div class="flex flex-col gap-2">
            <h1 class="font-lg">Reinicia la Contraseña</h1>
            <hr class="w-full border border-secondary">
            <div class="flex flex-col gap-4">
                <p>
                    Te hemos enviado un correo electronico.
                    Si no lo has recibido por favor revisar
                    la carpeta de span. <b>De lo contrario
                    contactenos si no lo ha recibido en 
                    unos minutos.</b>
                </p>
            </div>
        </div>
    </form>
</div>
{% endblock %}
