{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="absolute w-full bg-primary max-w-sm top-1d2 left-1d2 translate-center rounded-2 px-4 py-8 shadow-sm border border-primary">
    <form class="login" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="flex flex-col gap-2">
            <h1 class="font-lg">Recupera tu cuenta</h1>
            <hr class="w-full border border-secondary">
            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-2">
                    <p>Ingresa tu correo electrónico para buscar tu cuenta.</p>
                    {{ form.email }}
                    <p class="text-red font-sm">
                        {{ form.non_field_errors|first }}
                        {{ form.errors }}
                    </p>
                </div>
                <div class="flex gap-2 justify-end">
                    <a href="{{ login_url }}" class="border flex justify-center py-2 px-4 rounded-1">
                        Cancelar
                    </a>
                    <button type="submit" class="border flex justify-center py-2 px-4 rounded-1">
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
