$global-spacing: 0.25rem;

/* PRIMARY COLORS */
$global-primary-color: #1b133e;
$global-primary-color-dark: #00001a;
$global-primary-color-light: #453969;

/* SECONDARY COLORS */
$global-secondary-color: #d81e5b;
$global-secondary-color-dark: #a00031;
$global-secondary-color-light: #ff5c87;

$global-text-color: #ffffff;
$global-border-radius: 4px;