nav {
    & a {
        &:hover {
            & p { color: $global-text-color-dark; }
            background-color: $global-secondary-color-light;
        }
        &.active {
            & p { color: $global-text-color-dark; }
            background-color: $global-secondary-color;
        }
    }
}

/* DROPDOWN */
/* --------------------------------------- */
button.dropdown {
    & ~ .dropdown-container { display: none; }
    &:focus ~ .dropdown-container { display: flex; }
}